/* start glodel rules */
* {
  padding: 0;
  margin: 0;
  outline: none;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  text-transform: capitalize;
}

*:focus {
  outline: none;
}

html {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 15px;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: #e3e3e3;
}

button {
  outline: none;
}

ul {
  list-style: none;
}

.container {
  padding: 0px 40px;
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 1200px) {
  .container {
    padding: 0px 30px;
  }
}
@media (max-width: 776px) {
  .container {
    padding: 0px 20px;
  }
}
/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/*end globle rules */
/* start element css */
button {
  padding: 12px 35px;
  border: 1px solid transparent;
  background: #011601c6;
  border-radius: 10px;
  cursor: pointer;
  color: #e3e3e3;
  font-weight: 600;
  font-size: 1.2rem;
}

button:hover {
  border: 1px solid #e3e3e3;
  background-color: transparent;
  transition: var(--main-transtion);
}
/* end element css */
